<!DOCTYPE html>  
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Portfolio-Development</title>

</head>

<body style="background-color: rgb(111, 134, 132);">
    <div>
        <%- include ('partials/navbar.ejs') %>
        <br><br>
        <hr style="border: none; border-top: 2px solid; color: rgb(54, 65, 64); width: 30%; margin: 20px auto;">
        <h1 style="font-family: fleur; font-weight: bolder; text-align: center; color: rgb(229, 147, 219); font-size: 80px;">Portfolio - Development</h1>
        <br>
    </div>

    
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="carouselExample" class="carousel slide carousel-smaller">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/images/Escape_room.png" class="d-block w-100" alt="first">
                        </div>
                        <div class="carousel-item">
                            <img src="/images/escape_room2.png" class="d-block w-100" alt="second">
                        </div>
                        <div class="carousel-item">
                            <img src="/images/escape_room3.png" class="d-block w-100" alt="third">
                        </div>
                        <div class="carousel-item">
                            <img src="/images/escape_room4.png" class="d-block w-100" alt="fourth">
                        </div>
                        <div class="carousel-item">
                            <img src="/images/Floorplan.jpg" class="d-block w-100" alt="fourth">
                        </div>
                        <div class="carousel-item">
                            <img src="/images/gameloop.png" class="d-block w-100" alt="fourth">
                        </div>
                        <div class="carousel-item">
                            <iframe src="https://www.youtube.com/embed/rgUNRl6lGEM" frameborder='0' allowfullscreen class="object-fit-contain"></iframe>
                        </div> 
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>

            <div class="col-md-6 d-flex align-items-center">
                <div class="row">
                    <h4 style="font-family: filosofia, serif; color: rgb(219, 208, 164);">VR Escape Room - Upin Ipin Theme</h4>
                    <br>
                    <div class="accordion accordion-flush" id="accordionFlushExample" style="color: rgb(54, 65, 64); font-family: filosofia, serif; font-weight: 400;">
                        <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            Tools Used
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Unity</div>
                        </div>
                        </div>
                        <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            Timeline
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <p>Game design document – week 4 to week 7<p>
                                <p>To plan:<p>
                                <p>-art style, <p>
                                <p>-colour scheme, <p>
                                <p>-floor plan (slide 5) <p>
                                <p>Scene building – Week 7 to after break. (To make plans come to life)<p>
                                <p>Week 8 to Week 11 – VR headset testing, puzzle building<p>
                                <p>Week 12 – Final testing and maintenance.<p>
                                <p>Week 12/13 - Submission<p>
                            </div>
                        </div>
                        </div>
                        <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                            Gameplay
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                    <p>1 - The game will start at the kitchen. The player will first spawn at the kitchen and there will be an instruction to 
                                    help guide them complete the first puzzle. Only after the first puzzle, the door to the next puzzle will open. A hint will also be given.</p> 
                                    <p>2 -  After the kitchen, the player is supposed to complete the rest of the puzzles in the other rooms. </p>
                                    <p>3 - The final room will be connected to a puzzle in the hall. The hall will have another 2 puzzles that need to be solved. </p>
                                    <p>The puzzle difficulty level gets higher (gets harder) after every puzzle you solve. </p>
                            </div>
                        </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                Key Takeaway
                            </button>
                            </h2>
                            <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <p>Slides 5 and 6 are some of the design process to create the final escape room. </p>
                                <p>Slide to slide 7 for the gameplay!</p>
                                During the development of the VR escape room, I encountered several challenges that significantly impacted 
                                both the creative and technical aspects of the project. The first major hurdle was troubleshooting. Debugging errors was 
                                a time-consuming process, often requiring multiple consultations with my lecturer to identify and resolve issues. While 
                                challenging, this repetitive troubleshooting helped me deepen my understanding of the mechanics involved, allowing me to 
                                learn from each mistake and build confidence in practical problem-solving—an experience far more valuable than mere memorization of techniques.
                                Finding inspiration for the concept itself was another significant challenge. At the outset, I struggled to define a clear theme and direction, 
                                as I grappled with what truly inspired me or would create an engaging VR environment. The process of envisioning and 
                                designing the scene took considerable time, requiring an iterative approach to balance visual appeal and functional interaction 
                                within the escape room. The coding aspect presented additional difficulties, as I had little to no experience in C#. Lacking a 
                                foundational understanding of the language, I often found myself relying on repetitive functions and struggling to adapt my knowledge 
                                effectively. Although I attempted to learn through various resources, including ChatGPT, interpreting and implementing these insights 
                                proved difficult. Ultimately, collaborating with classmates helped me bridge the gap in understanding and expand my skill set in C#, enabling 
                                me to tackle coding challenges with greater confidence. Overall, these challenges taught me the importance of persistence, resourcefulness, and collaboration in the learning and development process.
        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br><br>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="carouselExample2" class="carousel slide carousel-smaller">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/images/travellistappfront.png" class="d-block w-100" alt="First Slide">
                        </div>
                        <div class="carousel-item">
                            <img src="/images/travellist.png" class="d-block w-100" alt="Second Slide">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample2" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample2" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                
            </div>

            <div class="col-md-6 d-flex align-items-center">
                <div class="row">
                    <h4 style="font-family: filosofia, serif; color: rgb(219, 208, 164);">
                        Travel List App 
                        <a href="https://travel-list-app-starter-main-navy.vercel.app/" target="_blank" rel="noopener noreferrer">Try it out!</a>
                    </h4>                    
                    <br>
                    <div class="accordion accordion-flush" id="accordionFlushExample2" style="color: rgb(54, 65, 64); font-family: filosofia, serif; font-weight: 400;">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne-2" aria-expanded="false" aria-controls="flush-collapseOne-2">
                                    Tools Used
                                </button>
                            </h2>
                            <div id="flush-collapseOne-2" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample2">
                                <div class="accordion-body">Visual Studio [React]</div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo-2" aria-expanded="false" aria-controls="flush-collapseTwo-2">
                                    Timeline
                                </button>
                            </h2>
                            <div id="flush-collapseTwo-2" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample2">
                                <div class="accordion-body">3 days</div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree-2" aria-expanded="false" aria-controls="flush-collapseThree-2">
                                    Functionality
                                </button>
                            </h2>
                            <div id="flush-collapseThree-2" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample2">
                                <div class="accordion-body">
                                    <p>1 - Adding items to the list</p> 
                                    <p>2 - Deleting items from list</p>
                                    <p>3 - Editing item on list</p>
                                    <p>4 - Check items</p>
                                    <p>5 - Calculation of items that are packed and items that have not been packed</p>
                                    <p>6 - Sort by filter</p>
                                    <p>7 - Deleting everything on the list</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour-2" aria-expanded="false" aria-controls="flush-collapseFour-2">
                                    Key Takeaway
                                </button>
                            </h2>
                            <div id="flush-collapseFour-2" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample2">
                                <div class="accordion-body">
                                    I have learnt to apply functions to add, delete, edit, sort and calculate items. 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br><br>

    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div id="carouselExample4" class="carousel slide carousel-smaller">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/images/Pizza app ss1.png" class="d-block w-100" alt="first">
                            </div>
                            <div class="carousel-item">
                                <img src="/images/Pizza app ss2.png" class="d-block w-100" alt="second">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample4" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample4" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    
                </div>
    
                <div class="col-md-6 d-flex align-items-center">
                    <div class="row">
                        <h4 style="font-family: filosofia, serif; color: rgb(219, 208, 164);">
                            Pizza Menu App 
                            <a href="https://pizza-app-three-eta.vercel.app/" target="_blank" rel="noopener noreferrer">Try it out!</a>
                        </h4>                        
                        <br>
                        <div class="accordion accordion-flush" id="accordionFlushExample4" style="color: rgb(54, 65, 64); font-family: filosofia, serif; font-weight: 400;">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne-4" aria-expanded="false" aria-controls="flush-collapseOne-4">
                                        Tools Used
                                    </button>
                                </h2>
                                <div id="flush-collapseOne-4" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample4">
                                    <div class="accordion-body">Visual Studio [React]</div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo-4" aria-expanded="false" aria-controls="flush-collapseTwo-4">
                                        Timeline
                                    </button>
                                </h2>
                                <div id="flush-collapseTwo-4" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample4">
                                    <div class="accordion-body">2 days</div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree-4" aria-expanded="false" aria-controls="flush-collapseThree-4">
                                        Functionality
                                    </button>
                                </h2>
                                <div id="flush-collapseThree-4" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample4">
                                    <div class="accordion-body">
                                        This project is not focused on its functionality but rather, the design. 
                                        However some of its functionality include the one on the footer - The Pizza shop opens 
                                        from 9am to 10pm daily so any time before or after it's operating time, it will display "shop closed".
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour-4" aria-expanded="false" aria-controls="flush-collapseFour-4">
                                        Key Takeaway
                                    </button>
                                </h2>
                                <div id="flush-collapseFour-4" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample4">
                                    <div class="accordion-body">
                                        I have learnt the different ways to design the cards and display data in the same 
                                        manner in each cards without repeatedly writing the different data again and again. 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br><br>

    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div id="carouselExample5" class="carousel slide carousel-smaller">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/images/QuizApp.png" class="d-block w-100" alt="first">
                            </div>
                            <div class="carousel-item">
                                <img src="/images/QuizAppcorrect.png" class="d-block w-100" alt="second">
                            </div>
                            <div class="carousel-item">
                                <img src="/images/QuizAppError.png" class="d-block w-100" alt="third">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample5" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample5" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    
                </div>
    
                <div class="col-md-6 d-flex align-items-center">
                    <div class="row">
                        <h4 style="font-family: filosofia, serif; color: rgb(219, 208, 164);">Quiz App</h4>
                        <br>
                        <div class="accordion accordion-flush" id="accordionFlushExample5" style="color: rgb(54, 65, 64); font-family: filosofia, serif; font-weight: 400;">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne-5" aria-expanded="false" aria-controls="flush-collapseOne-5">
                                        Tools Used
                                    </button>
                                </h2>
                                <div id="flush-collapseOne-5" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample5">
                                    <div class="accordion-body">Webstorm [React]</div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo-5" aria-expanded="false" aria-controls="flush-collapseTwo-5">
                                        Timeline
                                    </button>
                                </h2>
                                <div id="flush-collapseTwo-5" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample5">
                                    <div class="accordion-body">2 days</div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree-5" aria-expanded="false" aria-controls="flush-collapseThree-5">
                                        Gameplay/App flow
                                    </button>
                                </h2>
                                <div id="flush-collapseThree-5" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample4">
                                    <div class="accordion-body">
                                        Enter username, attempt the quizzes by picking the correct answers from the dropdown. Submit answers and the app will let you know how many you get right or wrong.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour-5" aria-expanded="false" aria-controls="flush-collapseFour-5">
                                        Functionality
                                    </button>
                                </h2>
                                <div id="flush-collapseFour-5" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample5">
                                    <div class="accordion-body">
                                        <p>- Dropdowns</p>
                                        <p>- Check if ansswers are correct or wrong</p>
                                        <p>- When clicking submit, if all answers are correct, the username and a congratulation message will appear</p>
                                        <p>- If there are wrong answers, a message will pop up telling the number of mistakes.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


  <style>

      .carousel-smaller .carousel-inner img {
          max-height: 300px; 
          object-fit: contain;
      }
  </style>
   
</body>
</html>
